
/*.presonalizacion-icono{
    color: rgb(77, 77, 7);
    border: 1px solid #555454;
    border-radius: 3px;
    font-size: 54px;
    padding: 10px;
}*/

.logo small{
    font-size: 10px;
    display: block;
    margin-top: -4px;
}
 .parrafo-rol{
    
 }